<article class="{{ include.card_class | default: 'media-card' }}">
  <a href="{{ include.item.url | relative_url }}">
    <div class="media-thumb">
      <img src="{{ '/assets/img/media/gallery/' | append: include.item.image | relative_url }}" alt="{{ include.item.title }}">
    </div>
    <div class="{{ include.meta_class | default: 'media-card-meta' }}">
      <p class="media-label">{{ include.item.date_label }}</p>
      <h3 class="media-title">{{ include.item.title }}</h3>
    </div>
  </a>
</article>
