<article class="{{ include.card_class | default: 'media-card' }}">
  <a href="{{ include.video.url | relative_url }}">
    <div class="media-thumb media-play">
      <img src="{{ '/assets/img/media/videos/' | append: include.video.thumbnail | relative_url }}" alt="{{ include.video.title }}">
    </div>
    <div class="{{ include.meta_class | default: 'media-card-meta' }}">
      <p class="media-label">Video</p>
      <h3 class="media-title">{{ include.video.title }}</h3>
    </div>
  </a>
</article>
